<h1>WELCOME!</h1>

<br>How many players?
<form action="/enter_names" method="get">
<button type="submit" name="players" value="1">1 Player</button>
<button type="submit" name="players" value="2">2 Player</button>
</form>
</h2>
